version: "3.2"
services:
  # Celery
  # Flower
  # Webhook backend
  redis:
    image: redis:6.2-alpine
    # https://github.com/compose-spec/compose-spec/blob/master/deploy.md#restart_policy
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
        window: 120s
    ports:
      - "6379:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

  flower:
    image: mher/flower:0.9.7
    command: ["flower", "--broker=redis://redis:6379", "--port=5555"]
    expose:
      - 5555
    depends_on:
      - redis

  webhook:
    depends_on:
      - redis
      - flower
    env_file:
      - .env
    ports:
      - "8000:8000"
    container_name: webhook
    restart: on-failure
    networks:
      - default
    volumes:
      - ./app:/app
    build:
      context: .
      dockerfile: Dockerfile
