site_name: FastAPI-Celery Webhook Listener
site_author: Pranesh Mukhopadhyay
site_description:
site_dir: documentation

nav:
  - Home: "index.md"
  - Concepts: "concepts.md"

plugins:
  - search
  - tags:
      tags_file: tags.md

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: pink
      accent: red
      toggle:
        # icon: material/lightbulb
        icon: material/brightness-4
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      accent: red
      toggle:
        # icon: material/lightbulb-outline
        icon: material/brightness-7
        name: Switch to light mode
